<!-- --- COURSIFY: base template
 It provied the layout for all pages -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coursify - {{ pageTitle }}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body style="margin: 0; padding: 0;" class="d-flex flex-column min-vh-100">
    <div class="container-fluid flex-grow-1 d-flex flex-column">
        {% include 'components/navigation.html' %}
        <div class="d-flex flex-column container-lg px-2 flex-grow-1">
        {% block content %} {% endblock %}
        </div>
    </div>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Coursify - Home of the world's best online courses.</span>
        </div>
    </footer>
</body>

</html>