<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body style="margin: 0; padding: 0;">
    <div class="container-fluid">
        {% include 'components/navigation.html' %}
        <div class="d-flex flex-column container-lg px-2 py-5">
        {% block content %} {% endblock %}
        </div>
    </div>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Coursify - Home of the world's best online courses.</span>
        </div>
    </footer>
</body>

</html>