{% extends "components/base.html" %}
{% load bootstrap5 %}

{% block content %}
<div class="d-flex flex-grow-1">
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light py-5" style="width: fit-content;">
        <span class="fs-5">Menu</span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="/dashboard" class="nav-link link-dark {% if request.path == '/dashboard/' %}active{% endif %}">
                Dashboard
            </a>
        </li>
        <li>
            <a href="/courses" class="nav-link link-dark {% if request.path == '/courses/' %}active{% endif %}">
                Courses
            </a>
        </li>
        <li>
            <a href="/profile" class="nav-link link-dark {% if request.path == '/profile/' %}active{% endif %}">
                My Profile
            </a>
        </li>
    </ul>
</div>
<!-- Main Content -->
<div class="flex-grow-1 p-3">
    {% block main_content %}{% endblock %}
</div>
</div>
{% endblock content %}