<!-- --- COURSIFY: dashnoard
 The user's dashboard with oversight about deadlines, courses and more  -->
 {% extends "components/dashboard_layout.html" %}
{% load bootstrap5 %}

{% block main_content %}
<div class="container py-4">
   <header class="pb-3 mb-4 border-bottom d-flex justify-content-between align-items-center">
      <span class="fs-4">Welcome {{ user.first_name }}</span>
      <div>
         <!-- Button trigger modal -->
         <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">Update Status</button>
      </div>
   </header>
   <div class="p-2 px-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-2">
         <h2 class="display-7">Deadlines</h2>
         <ul class="list-group list-group-flush">
            {% for course in course_deadlines %}
            <li class="list-group-item"><strong>{{course.deadline}}</strong> - {{course.course}}: {{course}}</li>
            {% endfor %}
         </ul>
      </div>
   </div>
   {% if user_notifications %}
   <div class="p-2 px-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-2">
         <h2 class="display-7">Notifications</h2>
         <ul class="list-group list-group-flush">
            {% for notification in user_notifications %}
            <li class="list-group-item">{{notification}} - {{notification.date}}</li>
            {% endfor %}
         </ul>
      </div>
   </div>
   {% endif %}
   <div class="p-2 px-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-2">
         <h2 class="display-9">My Status Updates</h2>
         {% for status in status_updates %}
         <div class="card mb-3">
            <div class="card-body">
               <p class="card-text lead">{{ status.status }}</p>
               <p class="card-text"><small class="text-muted">{{ status.date }}</small></p>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
   <div class="row align-items-md-stretch">
      <div class="col-md-6">
         <div class="h-100 p-5 bg-light border rounded-3">
            <h2>My Courses</h2>
            <div class="list-group" style="min-height: 65%;">
               {% for course in enrolled_courses %}
               <a href="/courses/details/{{course.id}}" class="list-group-item list-group-item-action" aria-current="true">
                  {{ course }}
               </a>
               {% endfor %}
            </div>
            {% if enrolled_courses %}
            <a href="/courses"><button class="btn btn-outline-secondary" type="button">View All</button></a>
            {% else %}
            <a href="/courses"><button class="btn btn-outline-secondary" type="button">Find Courses</button></a>
            {% endif %}
         </div>
         
      </div>
      <div class="col-md-6">
         <div class="h-100 p-5 bg-light border rounded-3">
            <h2>My Chats</h2>
            <div class="list-group" style="min-height: 65%;">
               {% if not open_chats %}
                  <p>No open chats</p>
               {% else %}
                  {% for chat in open_chats %}
                     {% if user_group.name == "Teacher"  %}
                        <a href="/chat/{{chat.id}}" class="list-group-item list-group-item-action" aria-current="true">
                           {{ chat.student.first_name }} {{ chat.student.last_name }}
                        </a>
                     {% else %}
                        <a href="/chat/{{chat.id}}" class="list-group-item list-group-item-action" aria-current="true">
                           {{chat.teacher.first_name}} {{chat.teacher.last_name}}
                        </a>
                     {% endif %}
                  {% endfor %}
               {% endif %}
            </div>
            {% if open_chats %}
            <a href="/chats"><button class="btn btn-outline-secondary" type="button">View All</button></a>
            {% endif %}
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Status Update</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <form id="statur_update" action="/update_status/" method="post">
         {% csrf_token %}
         <div class="modal-body">
            <textarea name="status_update"rows="2" maxlength="500" class="w-100" ></textarea>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add Update</button>
         </div>
         </form>
      </div>
   </div>
</div>
{% endblock main_content %}